PORT = 3005
DATABASE_URL= neon database for now, cause we are using neon driver to setup drizzle 
JWT_SECRET= this is a extra variable not really using it but you never know
COOKIE_SECRET_KEY=
COOKIE_REFRESH_SECRET=
RESEND_API_KEY=
FROM_EMAIL=
CLOUDFLARE_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_TOKEN=
R2_PUBLIC_URL=
R2_ENDPOINT=
REDIS_URL=
TRACKING_BASE_URL=
REDIS_TLS=
API_URL=
FRONTEND_URL=